@import "mocha.css";


* {
    font-size: 16px;
    font-family: Iosevka;
}

window#waybar {
    background: @crust;
}
#clock {
    color: @text;
    background: @crust;
}
#workspaces {
    margin-left: 12px;
    border-radius: 26px;
    background: @crust;
}
#workspaces button {
    padding: 0 2px;
    color: #fdf6e3;
}
#workspaces button.focused {
    color:  @red;
}
#workspaces button:hover {
    box-shadow: inherit;
    text-shadow: inherit;
}
#workspaces button:hover {
    border-color: @red;
    background: @red;
}
#memory {
    background: @crust;
}
#temperature {
    background: @crust;
}
#cpu {
    background: @crust;
}
#battery {
    background: @crust;
}
#battery.charging {
    background: @green;
}
#network {
    background: @crust;
}
#cpu, #temperature, #battery, #network, #tray {
    color: @text;
    border-radius: 26px;
    margin: 0 4px;
    padding: 0 16px;
}
#clock{
    padding: 0 16px;
}
