* {
	border-radius: 3px;
	border: none;
}

window {
	font-size: 18px;
	font-family: "Iosevka";
	background-color: #45475a;
	color: #cdd6f4;
	border:
}

#entry {
	padding: 0.25em;
}

#entry:selected {
	background-color: #cba6f7; 
}

#text:selected {
	color: #45475a;
}

#input {
	background-color: #45475a;
	color: #cdd6f4;
	padding: 0.25em;
	border: none;
}
